env:
  global:
  - TERM=dumb
language: java
jdk: oraclejdk8
install: true
before_install:
- sudo apt update -y || true >/dev/null 2>&1
- sudo apt install -y --no-install-recommends git bash >/dev/null 2>&1
script:
# 0.3.0
- export root=$(pwd)
- git clone https://github.com/daggerok/spring-cloud-examples.git $root/0.3.0
- cd $root/0.3.0
- bash gradlew asciidoctor
- ls -lah $root/0.3.0/docs/build
- ls -lah $root/0.3.0/docs/build/asciidoctor
# 0.2.2
- export root=$(pwd)
- git clone https://github.com/daggerok/akka-examples.git $root/0.2.2
- ls -lah $root/0.2.2/docs
- cd $root/0.2.2
- bash gradlew clean build asciidoctor
- ls -lah $root/0.2.2/docs/build
- ls -lah $root/0.2.2/docs/build/asciidoctor
- bash gradlew clean docs -b docs/asciidoc.gradle
- ls -lah $root/0.2.2/asciidoctor-docs
